@tailwind base;
@tailwind components;
@tailwind utilities;

.loginBanner {
  background: url(../src/assets/loginBG.avif);
  background-position: top bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}